.page {
  height: 100vh;
  font-size: 15px;
}
.page .navbar {
  height: 8vh;
  background: #ffc000;
  color: #000;
}
.page .navbar h1 {
  font-size: 1.8rem;
}
.page .principal {
  height: 92vh;
}
.page .principal #map {
  height: 92vh;
  width: 100%;
}
.page .principal .right-panel {
  height: 92vh;
  background: #000;
  color: #fff;
}
