.page {
  height: 100vh;
}
.page .navbar {
  height: 10vh;
}
.page .principal {
  height: 90vh;
}
.page .principal #map {
  height: 90vh;
  width: 100%;
}
.page .principal .right-panel {
  height: 90vh;
  background: #f00;
}
