.page
	height: 100vh
	font-size: 15px
	.navbar
		height: 8vh
		background: #ffc000
		color black
		h1
			font-size: 1.8rem		
	.principal
		height: 92vh
		#map
			height: 92vh
			width: 100%
		.right-panel
			height: 92vh
			background: black
			color white
